body {
  background: #141414;
  color: #ffffff;
}

.row {
  overflow: auto;
}

.col-6 {
  max-width: none !important;
}
.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  margin-bottom: 10px;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 41%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
}

#card-container {
  margin-bottom: 2.5rem !important;
}

#sort-button {
  margin-bottom: 2.5rem;
  padding: 1rem;
}
